<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>SMILE SHARE</title>
  <link rel="stylesheet" type="text/scss" href="stylesheets/index.scss">

<!--  コンテンツを一旦仮置きする  -->
  <style>
    footer {
      text-align: center; /* テキストを中央揃えにする */
      padding: 5px; /* パディングを追加してフッターに余白を持たせる */
      background-color: #C38966; /* 背景色を変更したい場合 */
    }
  </style>
</head>

<br>
<body>
  <div class="top-all">
      <%= image_tag 'first.jpg', :size =>'1102x500' %>

    <div class="top-title">
            <h2 class="heading-12">
              <span>サイトについて</span>
            </h2>
          </div>

            <div class="top-explan">
              ・施設に入所しているご利用者様の一日の様子をいつでも確認できます！
              <br>・ご家族様と職員が簡単に連絡を取ることができます！
            </div>
          </div>

    <div class="top-title">
      <h2 class="heading-12">
              <span>ご家族様</span>
            </h2>
      <div class="top-explan">
        ・職員が記入したご利用者様の記録を閲覧できます！
        <br>・ご家族向けのコメント欄は自由にご記入下さい
        <br>・星の５段階評価は率直な今の気持ちで大丈夫です！
      </div>
    </div>

      <div class="top-title">
    <h2 class="heading-12">
              <span>職員</span>
            </h2>
        <div class="top-explan">
          ・ご利用者様の一日の様子をご記入下さい
          <br>・ご家族様の困り事や悩み事がないか確認できます！
        </div>
      <div class="top-all">
        <%= image_tag 'treee.png', :size =>'1100x250' %>
      </div>
    </div>


<footer>	
  <p>© 2024 Mitsuko Asano</p>
</footer>
</body>
