<div class="users-index">
<div class="ribbon10">
  <h3>利用者一覧</h3>
</div>
</div>

<div class="users-index">
<div class="link-container">
    <div class="item">
        <%= link_to 'A', patient_dog_path %>
    </div>
    <div class="item">
        <%= link_to 'B', patient_cat_path %>
    </div>
    <div class="item">
        <%= link_to 'C', patient_hadakadebanezumi_path %>
    </div>
</div>
</div>