header{
    height: 50px;
    background-color: #C38966;
  }

  .first-block {

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .title-container {
    text-align: center;
  }


